!!! 5
%html{ dir: "ltr", lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "ie=edge", "http-equiv" => "x-ua-compatible" }
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }
    %title= current_page.data.title || "Dronov dot net"
    
    / Pico.css
    %link{ href: "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css", rel: "stylesheet" }
    %link{ href: "/stylesheets/app.css", rel: "stylesheet" }

  %body
    / Header & Navbar
    %header.container
      %nav
        %ul
          %li
            %a.brand-logo{ href: "/" } Dronov.net
        %ul.nav-links
          %li
            %a{ href: "/index.html" } Articles
          %li
            %a{ href: "/about.html" } About
          %li
            %a{ href: "/contacts.html" } Contacts

    / Main Content
    %main.container
      - if current_page.path == 'index.html'
        .article-list
          = yield
      - else
        %article
          - unless current_article.nil?
            %header
              %h2= current_article.title
              %p
                %small= current_article.date.strftime('%b %e, %Y') if current_article.date

          .content
            = yield

          %footer
            #disqus_thread
            :javascript
              var disqus_config = function () {
                this.page.url = "#{current_page.path}";
                this.page.identifier = "#{current_page.path}"; 
              };
              (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://dronov-net.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            %noscript
              Please enable JavaScript to view the
              %a{ href: 'https://disqus.com/?ref_noscript' } comments powered by Disqus.

    / Footer
    %footer.container
      %hr
      %small
        Dronov.net 2010–2026. Built with Middleman. Powered by Arch Linux
