%h3 Keep in touch!
.content
  %p You can easily contact with me using these contacts:
  %ul
    %li Email: dronovmm@proton.me
    %li= link_to "Telegram", "https://t.me/dronov"
    %li= link_to "LinkedIn", "https://www.linkedin.com/in/mikhail-dronov-686b4818"
    %li= link_to "Github", "https://github.com/dronov"
    %li= link_to "Facebook", "https://facebook.com/dronovmm"
    %li= link_to "Twitter", "https://twitter.com/dronovmm"
