%h3 Keep in touch!
.panel
  You can easily contact with me using these contacts:
  %ul
    %li Email: mike[at]dronov[dot]net
    %li Jabber: mechanic[at]lifec0re[dot]net
    %li Skype: ul-mechan1c
    %li= link_to "LinkedIn", "https://www.linkedin.com/in/mikhail-dronov-686b4818"
    %li= link_to "Github", "https://github.com/dronov"
    %li= link_to "Facebook", "https://facebook.com/dronovmm"
    %li= link_to "Vkontakte", "https://vk.com/dronovmm"
    %li= link_to "Twitter", "https://twitter.com/dronovmm"
