---
pageable: true
per_page: 10
---

- page_articles.each_with_index do |article, i|
  %article.article-item
    %header
      %h4
        %a.article-link{ href: article.url }= article.title
      %p.article-meta
        %time= article.date.strftime('%b %e, %Y')

- if paginate && num_pages > 1
  %nav.pagination{ "aria-label" => "Articles pagination" }
    %ul
      %li
        - if prev_page
          = link_to 'Previous', prev_page
        - else
          %span Previous
      %li
        %span Page #{page_number} of #{num_pages}
      %li
        - if next_page
          = link_to 'Next', next_page
        - else
          %span Next
